/* ==UserStyle==
@name           Vorsapi v3 Mod
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
    * {
        font-family: "Roboto";
    }
    
    #watch7-sidebar {
        display: none;
    }
    
    #masthead-search-term {
        font-family: "Roboto"
    }
    
    .video-extras-sparkbar-likes {
        background: green
    }
    
    .video-extras-sparkbar-dislikes {
        background: red
    }
    
    #eow-title {
        letter-spacing: 0em !important;
    }
    
    .ytp-endscreen-content {
        display: none
    }
}
